
/*

BRAND COLORS

Orange RGB:  251, 139, 0;  HEX:  #FB8B00; CMYK: 0, 45, 100, 2
Purple RGB: 220, 19, 156;  HEX: #DC139C;  CMYK: 0, 91, 29, 14
Blue RGB: 1, 105, 201;  HEX: #0169C9; CMYK: 100, 48, 0, 21


*/

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
/*    margin: 50px 0;
    padding: 0;*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
/*    background-color: silver;*/
/*    background-color: rgba(192, 192, 192, 0.5);*/
    background-image: url('http://download.ultradownloads.com.br/wallpaper/130270_Papel-de-Parede-Estilo-Matrix_1680x1050.jpg');
    background-size: 120% auto;
}

#mission-bit-div-container {
  background-color: rgba(255,255,255,.25);
  height: 2000px;
}

/* >>>>>>>>>> NEWSFLASH <<<<<<<<<< */

#news-alert {
  margin-top: 6em;
  color: rgba(255,255,255, 0.95);
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding-top: 1.25em;
  border-radius: 0.5em;
  border: 0.15em solid rgba(220, 19, 156, 0.5);
  font-family: 'Josefin Sans', sans-serif;
}

/* >>>>>>>>>> BRAND BAR <<<<<<<<<< */

#top-brand-bar {
  height: 2em;
/*  background-color: rgba(255,255,255,0.5);*/
/*  background-color: rgba(220, 19, 156,0.5);*/
  background-color: rgba(1, 105, 201, 0.5);
/*  background-color: rgba(251, 139, 0, 0.5);*/
}

#tweet-the-bit {
  padding-top: 0.25em;
}

#tweet-the-bit a {
  /*  color: white;*/
  color: rgba(251, 139, 0, 1);
  font-weight: bold;
}

.fb-like {
  height: 3em;
  color: white;
/*  z-index: 11;
  background-color: white;*/
}



/* >>>>>>>>> NAV <<<<<<<<<<< */

#missionbit-logo-nav {
    width: 50px;
    height: 50px;
}

#login {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  margin-top: .75em;
}

.navbar .nav .selected {
  color: rgba(251, 139, 0, 1);
}

.navbar-inner .selected {
  color: rgba(251, 139, 0, 1);
}

/* >>>>>>>>> DONATE <<<<<<<<<<< */

#total-pledges {
  font-size: 1.5em;
}

#pledge-statement {
  text-align: center;
  margin-top: 3em;
  background-color: rgba(0,0,0,0.5);
  border-radius: 0.5em;
  color: silver;
  padding-top: 0.75em;
}

#brand-name {
  font-family: 'Aldrich', sans-serif;
}

#pledge-please-signin h1 {
  color: rgba(220,19,156,0.75);
}

#pledge-marketing-text {
/*  background-color: rgba(0,0,0,.75);*/
  background-color: rgba(220,19,156,0.5);
  padding: 1em;
  border-radius: .5em;
  color: rgba(255,255,255,0.9);
  margin-top: 5em;
  border: 1px solid rgba(251, 139, 0, 0.75);
}

#fund-allocation {
  background-color: rgba(0,0,0,.75);
  padding-bottom: 2em;
  border-radius: .5em;
  color: orange;
  margin-top: 1em;
  text-align: center;
}

.pledge-input:hover {
  color: rgba(0,0,0,.75);
  background-color: rgba(251, 139, 0, 0.5);
}

.pledge-totals {
  color: white;
}

.pledge-input {
/*  color: white;*/
  color: rgba(251, 139, 0, 1);
  background-color: rgba(0,0,0,.5);
  height: 4em;
  padding-top: 2em;
  border-radius: .5em;
}

#pledge-marketing-row,
#acknowledge-pledge-row {
    margin-top: 2em;
}

#pledge-marketing-div,
#acknowledge-pledge-div {
    text-align: center;
}

#acknowledge-pledge-div {
    vertical-align: middle;
    color: white;
    text-shadow: 2px 2px orange;
}

.pledge-notes,
.pledge-note {
/*  background-color: rgba(0,0,0,1);*/
}


#acknowledge-pledge-row {
    margin-bottom: 2em;
/*    background-color: rgba(0,0,0,1);*/
}

#total-pledge-msg {
    padding-top: 0.50em;
}

#user-pledge-total {
    text-align: center;
}

#user-pledge-total h1 {
    font-size: 3em;
    font-family: 'Audiowide', cursive;
    color: rgba(1, 105, 201, 1);
    text-shadow: 2px 2px white;
}

#user-pledge-count {
    color: rgba(220, 19, 156, .75);
    font-family: 'Racing Sans One', cursive;
    font-size: 2em;
    padding: 0 .2em 0 .25em;
}

#lets-donate-row {
    margin-top: 1em;
}

#donate-pledge-call {
/*    background-color: peachpuff;*/
}

#pledge-amount-row {
/*    margin-top: 3em;*/
}

.pledge-text {

}

.pledge-amount-input {
    vertical-align: bottom;
}

.pledge-submit-button {
    vertical-align: bottom;
    background-color: rgba(220, 19, 156, 0.5);
    color: white;
    font-size: 1.5em;
    border: 1px solid white;
}

.pledge-submit-button:hover {
  background-color: rgba(255,255,255,0.5);
  color: rgba(220, 19, 156, 1);
  border: 1px solid rgba(220, 19, 156, 1);
}

.pledge-amount-text {
    font-weight: bold;
    font-size: 2em;
    vertical-align: bottom;
}

#donate-pledge-input-div {
    margin-top: 3em;
    text-align: center;
}

#pledge-amount-row {
    margin-top: 1em;
}

#donate-pledge-25 {
}

.pledge-submit {
/*    background-color: peachpuff;*/
}

#pledge-submit-row {
    margin-top: 3em;
    margin-bottom: 16em;
}

#pledge-submit-div {
    text-align: center;
}

#donate-pledge-submit {
    width: 25em;
}

#pledge-details-row {
    margin-top: 3em;
}

#pledge-target {
  color: rgba(0,0,0,1);
}

#pledge-details-div {
    vertical-align: middle;
    background-color: rgba(1, 105, 201, 0.5);
    padding: 2em 0;
    border: 1px solid rgba(255,255,255,1);
    border-radius: 0.5em;
}

#pledge-grand-total-title {
    margin-top: 0.25em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
}

#pledge-grand-total-amount {
    font-size: 6em;
    font-family: 'Audiowide', cursive;
/*    color: rgba(1, 105, 201, 1);*/
    color: rgba(251,139,0,0.75);
    text-shadow: 2px 2px white;
}

#footnotes-div {
  margin-bottom: 1em;
}

#footnotes-text {
  color: white;
  padding: 1.5em 1em 1em 1em;
  border-radius: .5em;
  background-color: rgba(0,0,0,.5);
}


/* >>>>>>>>>> TEACH <<<<<<<<<< */

#volunteer-teach-row,
#volunteer-learn-row {
    margin-top: 7em;
}

#volunteer-teach-div,
#volunteer-learn-div,
#values-email-div {
    text-align: center;
}

#teach-input-msg,
#learn-input-msg {
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 2em;
  color: white;
  padding-top: 2em;
  border-radius: 0.5em;
}

#values-email-msg {
  margin-top: 2em;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 1em;
  color: white;
  padding-top: 2em;
  border-radius: 0.5em;
}

#teach-input-msg p,
#learn-input-msg p,
#values-email-msg p {
    margin-bottom: 1em;
    font-size: 3em;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1em
}

#email-teach-input,
#email-learn-input {
    margin-bottom: 2em;
}

#teach-input,
#learn-input,
#values-input {
    height: 2em;
    text-align: center;
    font-size: 2em;
    padding-top: .5em;
    font-family: 'Racing Sans One', cursive;
    color: black;
    margin-bottom: 1em;
}

#teach-input:hover,
#learn-input:hover,
#values-input:hover {
    background-color: rgba(220, 19, 156, 0.75);
    border: 1px solid white;
}

#teach-email-confirm,
#learn-email-confirm,
#values-email-confirm {
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(0,0,0,0.5);
    padding: 1em;
    color: white;
    border-radius: 0.5em;
    margin-top: 2em;
}

#teach-input-confirm-msg,
#learn-input-confirm-msg,
#values-input-confirm-msg {
    margin-bottom: 8em;
    text-align: center;
}

.input-output {
    font-weight: bold;
    font-size: 1.5em;
   /* color: rgba(1, 105, 201, 0.75);*/
    color: rgba(220, 19, 156, 0.75);
    text-shadow: 1px 1px orange;
}

#donate-action-div {
  position: static;
  margin-top: 2em;
  color: white;
  padding-left: 7em;
  font-family: 'Expletus Sans', cursive;
}

#volunteer-action-div {
  position: static;
  margin-top: 2em;
  color: white;
  padding-left: 7em;
  font-family: 'Expletus Sans', cursive;
}

#learn-action-div {
  position: static;
  margin-top: 2em;
  color: white;
  padding-left: 7em;
  font-family: 'Expletus Sans', cursive;
}

#donate-action {
  background-color: rgba(251, 139, 0, 0.75);
  text-align: center;
  font-size: 3em;
  height: 1.10em;
  padding-top: 0.6em;
  border-radius: .15em;
  color: black;
  border: 1px solid white;
  box-shadow: 1px 1px 2px;
}

#volunteer-action {
  background-color: rgba(251, 139, 0, 0.75);
  text-align: center;
  font-size: 3em;
  height: 1.10em;
  padding-top: 0.6em;
  border-radius: .15em;
  color: black;
  border: 1px solid white;
  box-shadow: 1px 1px 2px;
}

#learn-action {
  background-color: rgba(251, 139, 0, 0.75);
  text-align: center;
  font-size: 3em;
  height: 1.10em;
  padding-top: 0.6em;
  border-radius: .15em;
  color: black;
  border: 1px solid white;
  box-shadow: 1px 1px 2px;
}

#learn-action:hover,
#volunteer-action:hover,
#donate-action:hover {
    background-color: rgba(0,0,0,0.5);
    color: rgba(251, 139, 0, 1);
    border: 1px solid rgba(251, 139, 0, 1);
    box-shadow: inset 1px 1px 2px;
}

.bullet {
  float: right;
}

/* >>>>>>>>>> CODE SCHOOL <<<<<<<<<< */

.philo-tenent {
    font-family: 'Expletus Sans', cursive;
}

/* >>>>>>>>>> VALUES <<<<<<<<<< */

#values-container {
    margin-bottom: 6em;
}

.value-caption {
/*    background-color: rgba(251, 139, 0, 1);*/
/*    background-color: rgba(220, 19, 156, 1);*/
    background-color: rgba(1, 105, 201, 0.75);
    position: static;
    padding: 20px 20px 30px 20px;
    margin-top: 100px;
    border-radius: 20px;
    line-height: 1.25;
    color: #fff;
    /*color: rgba(251, 139, 0, 1);*/
/*    color: rgba(1, 105, 201, 1);*/
    text-shadow: 1px 1px 1px rgba(220, 19, 156, 1);
    border: .25em solid rgba(251, 139, 0, 1);
}

.value-caption h1 {
    font-family: 'Audiowide', cursive;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
    padding-top: .5em;
}

#second-caption-values,
#third-caption-values,
#fourth-caption-values,
#fifth-caption-values,
#sixth-caption-values {
    margin-top: 1em;
}

/* >>>>>>>>>> ABOUT <<<<<<<<<< */

#OoS-logo-about {
  margin-left: 12em;
  border-radius: 1em;
}

#EMI-logo-about {
  border-radius: 1em;
  margin-left: 1em;
}

.OoS-pillar {
  font-weight: bold;
  color: rgba(1, 105, 201,1);
}

.OoS-pillar-brand {
  font-weight: bold;
  font-size: 2em;
}

.org-section {
/*  background-color: rgba(255,255,255,0.5);*/
  margin-bottom: 2em;
}

.team-member-bio h2 {
  text-align: center;
}

#newsletter-email-confirm {
  color: white;
  font-size: 1em;
/*  background-color: rgba(0,0,0,0.5);
  border-radius: 0.5em;*/
  padding: 0.5em;
}

.newsletter-input-output {
  font-size: 2em;
/*  color: rgba(251, 139, 0, 0.75);*/
  color: rgba(220, 19, 156, 0.75);
}

/*#newsletter-confirm-output {
  color: white;
  background-color: black;
}*/

.team-member-bio {
  background-color: rgba(0,0,0,.75);
  padding: 1em;
  border-radius: .5em;
  margin: 2em 0;
}

#about-container {
  color: white;
}

#about-row {
    margin-top: 115px;
}

#bio-div {
    margin-top: 25px;
}

.team-bio {
    margin-top: 0.5em;
}

.coach_title {
    font-style: italic;
 /*   color: darkslategray;*/
    color: rgba(220, 19, 156, 1);
}

#team-members-area {
/*    background-color: peachpuff;*/
}

#contact-us-details {
/*    background-color: peachpuff;*/
}

.sub-caption-about {
    font-family: 'Expletus Sans', cursive;
    color: white;
}

.call-action {
    text-align: center;
    background-color: rgba(251, 139, 0, 0.75);
    text-align: center;
    font-size: 3em;
    height: 1.10em;
    padding-top: 0.6em;
    border-radius: .15em;
    color: black;
    border: 1px solid white;
    box-shadow: 1px 1px 2px;
}

.call-action:hover {
    background-color:rgba(0,0,0,0.5);
    color: rgba(251, 139, 0, 1);
    border: 1px solid rgba(251, 139, 0, 1);
    box-shadow: inset 1px 1px 2px;
}

#general-info {
    text-align: center;
    margin-bottom: 2em;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5em;
    padding: 2em 0;
}

#EMI-link,
#OoS-link {
  color: rgba(220, 19, 156, 0.75);
/*  color: darkslategray;*/
}

#EMI-link:hover,
#OoS-link:hover {
    color: silver;
}

.brand-text {
    font-family: 'Aldrich', sans-serif;
    font-size: 1.5em;
}

#pre-foot-buffer {
    margin-bottom: 4em;
}

.img-circle,
.img-square {
    border: 2px solid orange;
}

#img-div-title {
    width: 60em;
}

.about-titles {
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Audiowide', cursive;
    font-size: 3em;
}

#newsletter-signup {
    text-align: center;
}

#email-input {
    width: 13em;
    margin-top: .75em;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    height: 2em;
    font-size: 1.5em;
    padding-top: .25em;
}

#email-input:hover {
/*  background-color: rgba(251, 139, 0, 1);*/
  background-color: rgba(220, 19, 156, 0.5);
  color: white;
  border: 1px solid white;
}

/*#email-user-input .user-input {
  color: white;
}*/

.user-input-title {
    font-family: 'Audiowide', cursive;
    margin-bottom: 1em;
    font-size: 1.5em;
}

#contact-numbers {
    margin-top: 1em;
    text-align: center;
}

.contact-email {
    font-size: 1.5em;
}

/* >>>>>>>>>> SUPPORT <<<<<<<<<<<<< */

#support-row {
  margin-top: 7em;
}

#donate-action-support {
  position: static;
  color: white;
  padding-left: 7em;
  font-family: 'Expletus Sans', cursive;
}

#volunteer-action-support {
  position: static;
  color: white;
  padding-left: 7em;
  font-family: 'Expletus Sans', cursive;
}

#learn-action-support {
  position: static;
  color: white;
  padding-left: 7em;
  font-family: 'Expletus Sans', cursive;
}

#donate-action-support .action-on,
#volunteer-action-support .action-on,
#learn-action-support .action-on {
    background-color: rgba(0,0,0,0.5);
    color: rgba(251, 139, 0, 1);
    border: 1px solid rgba(251, 139, 0, 1);
    box-shadow: inset 1px 1px 2px;
}

/*#donate-action .action-on,
#volunteer-action .action-on,
#learn-action .action-on {
    background-color: rgba(0,0,0,0.5);
    color: rgba(251, 139, 0, 1);
    border: 1px solid rgba(251, 139, 0, 1);
    box-shadow: inset 1px 1px 2px;
}*/

/* >>>>>>>>>> FOOTER <<<<<<<<<<<<< */

#the-foot {
  color: rgba(251, 139, 0, 0.75);
/*  background-color: rgba(255,255,255,0.5);*/
  background-color: rgba(1, 105, 201, 0.5);
  border-radius: 0.5em;
  height: 4em;
}

/*body #footer-container {
  background-color: white;
  z-index: 11;
}
*/
/*#footer-div .footer-inside {
  background-color: rgba(0,0,0,0.5);
}*/

.footer-span {
  padding: 0.5em 1em 0.25em 1em;
  border-radius: .5em;
/*  background-color: rgba(251, 139, 0, 0.5);*/
  background-color: rgba(0,0,0,0.75);
  margin-top: 0.65em;
  margin-right: 1em;
  height: 2em;
}

#the-foot a {
/*  color: rgba(1, 105, 201, 1);*/
  color: white;
/*  color: rgba(220, 19, 156, 0.5);*/
}

/* >>>>>>>>> LEADERBOARD <<<<<<<<< */

.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    width: 700px;
    font-size: 1.75em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
/*    border-style: none none dashed none;*/
    border-color: #ccc;
    border-width: 4px;
/*    margin: 50px 10px;*/
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}

#mission-bit-tagline {
    text-align: center;
    margin-top: 2em;
}

#new_player_name {
    text-align: center;
    height: 1.25em;
    font-size: 2em;
    padding-top: .5em;
}

x