
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
/*    margin: 50px 0;
    padding: 0;*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* >>>>>>>>> NAV <<<<<<<<<<< */

#missionbit-logo-nav {
    width: 50px;
    height: 50px;
}

/* >>>>>>>>>> CODE SCHOOL <<<<<<<<<< */

.philo-tenent {
    font-family: 'Expletus Sans', cursive;
}

/* >>>>>>>>>> VALUES <<<<<<<<<< */

#values-container {
    margin-bottom: 6em;
}

.value-caption {
/*    background-color: #000000;*/
    background-color: orange;
    position: static;
    padding: 20px 20px 30px 20px;
    margin-top: 100px;
    border-radius: 20px;
    line-height: 1.25;
/*    color: #fff;*/
    color: blue;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.value-caption h1 {
    font-family: 'Audiowide', cursive;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
    padding-top: .5em;
}

#second-caption-values,
#third-caption-values,
#fourth-caption-values,
#fifth-caption-values,
#sixth-caption-values {
    margin-top: 1em;
}

/* >>>>>>>>>> ABOUT <<<<<<<<<< */

#about-row {
    margin-top: 100px;
}

#bio-div {
    margin-top: 25px;
}

.team-bio {
    margin-top: 0.5em;
}

.coach_title {
    font-style: italic;
    color: darkslategray;
}

.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    width: 700px;
    font-size: 1.75em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
/*    border-style: none none dashed none;*/
    border-color: #ccc;
    border-width: 4px;
/*    margin: 50px 10px;*/
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}

#mission-bit-tagline {
    text-align: center;
    margin-top: 2em;
}

#new_player_name {
    text-align: center;
    height: 1.25em;
    font-size: 2em;
    padding-top: .5em;
}

