

<template name="aboutInfo">
  {{#if feedTheMind}}
    <div id="about-container" class="container">
      <div id="about-row" class="row">
          <div id="general-info" class="span12 about-section">
            <h1> <span class="bit-brand-text"> Mission Bit </span> is a collboration between <a id="OoS-link" href="http://www.outofsite-sf.org"> Out of Site </a> and <a id="EMI-link" href="http://eastmission.com"> East Mission Initiatives</a>. </h1>
          </div>
          <div id="team-members-area" class="span8 pull-left about-section">
            <span class="span6 about-titles"> The Collaborators </span>

            <div id="img-div" class="pull-left">
              <div class="span6 org-section">
                <img id="OoS-logo-about" class="img-square span3" data-src="holder.js/140x140" src="http://i852.photobucket.com/albums/ab89/gigmania/OoSlogo.png">
                <div id="OoS-bio" class="span6 team-member-bio">
                  <h2 class="org-name"> Out of Site </h2>
                  <p>
                    <span class="pull-left team-bio"> Out of Site is a San Francisco nonprofit that provides free visual and performing arts programs for public high school students in San Francisco. Our programs fill a gap for teenagers – not only are they not getting enough art in their schools but there are few safe, free, fun and challenging programs for teens. Students come to Out of Site looking for the chance to experiment in the arts, and for a place to be themselves-they find artistic training, new mediums for self-expression, and a diverse and supportive community.
                    </br>
                    </br>
                    <span class="OoS-pillar"> DEVELOPS </span> new models of teaching and thinking about the visual arts, architecture and the performing arts at the high school level
                    </br>
                    <span class="OoS-pillar"> INSPIRES </span> activism and community engagement by participating in the world through the creation of art
                    </br>
                    <span class="OoS-pillar"> CREATES </span> connections among communities through programs that are diverse in their participants and their content, and teaching methods</span>
                  </p>
                </div>
              </div>

              <div id="EMI-section" class="span6 org-section">
                <img id="EMI-logo-about" class="img-square span6" data-src="holder.js/140x140" src="http://i852.photobucket.com/albums/ab89/gigmania/emi-screen.png">
                <div id="EMI-bio" class="span6 team-member-bio">
                  <h2 class="team-name"> East Mission Initiatives </h2>
                  <p>
                    <span class="pull-left team-bio"> East Mission Initiatives (EMI) is a nonprofit dedicated to encouraging and celebrating the arts, athletics, education and entreprenuership in the Mission district of San Francisco, CA. Mission Bit is the first program produced by EMI.
                    </span>
                  </p>
                </div>
              </div>
            </div> <!-- IMG DIV -->
          </div> <!-- TEAM MEMBERS AREA -->

          <div id="contact-us-details" class="span4 pull-right about-section">
            <span class="span3 about-titles"> Contact Us </span>
            <div id="donate-action-about" class="sub-caption-about">
              <span id="donate-about" class="span3 call-action lead"> DONATE </span>
            </div>
            <div id="volunteer-action-about" class="sub-caption-about">
              <span id="volunteer-about" class="span3 call-action lead"> TEACH </span>
            </div>
            <div id="learn-action-about" class="sub-caption-about">
              <span id="learn-about" class="span3 call-action lead"> LEARN </span>
            </div>

            <div id="newsletter-signup" class="span3 user-input-div">
              <span class="user-input-title"> Newsletter Signup </span>
              <span id="email-user-input" class="pull-left user-input">
                <input id="email-input" class="pull-left user-contact-info" type="email" placeholder="Stay in the Loop" />
              </span>
            </div> <!-- NEWSLETTER SIGNUP -->

            <div id="contact-numbers" class="span3 contact-details">
              <span class="user-input-title"> Email Us </span>
              </br>
              <span class="contact-email"> info [at] missionbit [dot] com </span>
            </div>
          </div> <!-- CONTACT US DETAILS -->
          <div id="pre-foot-buffer" class="span12 about-section">
          </div>
      </div> <!-- ROW -->
  {{/if}}
</template>