

<template name="aboutInfo">
  {{#if feedTheMind}}
    <div id="about-container" class="container">
      <div id="about-row" class="row">
          <div id="general-info" class="span12 about-section">
            <h2> <span class="brand-text"> Mission Bit </span> is a program of <a id="EMI-link" href="http://eastmission.com"> East Mission Initiatives</a>. EMI is a non-profit dedicated encouraging and celebrating arts, education and entrepreneurship in the Mission SF, CA </h2>
          </div>
          <div id="team-members-area" class="span8 pull-left about-section">
            <span class="span6 about-titles"> Team </span>
            <div id="img-div" class="pull-left">
              <div class="span2">
                <img class="img-circle" data-src="holder.js/140x140" src="http://i852.photobucket.com/albums/ab89/gigmania/vanessa_felix.jpg">
              </div>

              <div class="span2">
                <img class="img-circle" data-src="holder.js/140x140" src="http://i852.photobucket.com/albums/ab89/gigmania/tyson_photo.jpg">
              </div>

              <div class="span2">
                <img class="img-circle" data-src="holder.js/140x140" src="https://si0.twimg.com/profile_images/774843094/bright_2.jpg">
              </div>
            </div> <!-- IMG DIV -->

            <div id="bio-div" class="pull-left">
              <div class="span2">
                <h3 class="pull-left"> Vanessa Critchell </h3>
                <p>
                  <span class="coach_title" style="font-weight: bold"> President </span>
                  </br>
                  <span class="pull-left team-bio"> Vanessa was the Gallery Director for Luhring Augustine from 2004-2012. At Luhring Augustine she worked closely with artists such as Josh Smith, Daido Moriyama, Steve Wolfe, George Condo, Yasumasa Morimura and Tunga. Previously to that she was the Assistant Curator at Fondation Cartier in Paris from 2001-2004. At the Fondation she worked closely with artists such as Nancy Rubins, Lebbeus Woods, Stephen Vitiello and Gary Hill on large-scale, commissioned installations. She also assisted the William Eggleston exhibition and co-curated the Daido Moriyama show at the Fondation.
                  </br>
                  </br>
                  Vanessa is a Junior Council Founding Member of Artadia, a fund dedicated to helping living artists. She majored in Art History and French Literature at Barnard College, Columbia University in NY.
                  </span>
                </p>
              </div>

              <div class="span2">
                <h3 class="team-name"> Tyson Daugherty </h3>
                <p>
                  <span class="coach_title" style="font-weight: bold"> Founder, Work Horse </span>
                  </br>
                  <span class="pull-left team-bio"> Parallel Entrepreneur. Digital Media Executive. Deal Maker. Strategist. Product Guy. Hacker.
                  </span>
                </p>
              </div>

              <div class="span2">
                <h3 class="team-name"> Marcus Phillps </h3>
                <p>
                  <span class="coach_title" style="font-weight: bold"> Curriculum Architect </span>
                  </br>
                  <span class="pull-left team-bio"> Marcus freaking loves teaching and has been doing it since 2000. He’s developed JavaScript learning materials since 2008, and pioneered #CodeClass, Twitter’s in-house employee training program, now a company-wide institution covering a variety of languages. He’s developed and taught modules for immersive programs, and contributed to outreach education programs including Coding for Good, Coder Dojo, JUMA Ventures, and The Stanford LEAD program.
                  </br>
                  </br>
                  Marcus is currently a co-founder of and lead instructor at HackReactor
                  </span>
                </p>
              </div>

            </div> <!-- BIO DIV -->
          </div> <!-- TEAM MEMBERS AREA -->

          <div id="contact-us-details" class="span4 pull-right about-section">
            <span class="span3 about-titles"> Contact Us </span>
            <div id="donate-action-about" class="sub-caption-about">
              <span id="donate-about" class="span3 call-action lead"> DONATE </span>
            </div>
            <div id="volunteer-action-about" class="sub-caption-about">
              <span id="volunteer-about" class="span3 call-action lead"> TEACH </span>
            </div>
            <div id="learn-action-about" class="sub-caption-about">
              <span id="learn-about" class="span3 call-action lead"> LEARN </span>
            </div>
          </div> <!-- CONTACT US DETAILS -->
          <div id="pre-foot-buffer" class="span12 about-section">
          </div>
      </div> <!-- ROW -->
  {{/if}}
</template>