

<template name="actionButtons">
  <div id="action-caption" class="span4 sub-caption">
    <div id="donate-action-div" class="sub-caption-action">
      <span id="donate-action" class="span3 lead"> DONATE </span>
    </div>
    <div id="volunteer-action-div" class="sub-caption-action">
      <span id="volunteer-action" class="span3 lead"> TEACH </span>
    </div>
    <div id="learn-action-div" class="sub-caption-action">
      <span id="learn-action" class="span3 lead"> LEARN </span>
    </div>
  </div> <!-- ACTION CAPTION -->
</template>

<template name="letsTeach">
  {{#if toTeach}}
    <div id="volunteer-teach-row" class="row">
      <div id="volunteer-teach-div" class="volunteer-teach">
          <span id="teach-input-msg" class="span12 teach-input-title"> <p> Please enter your email to receive details regarding voluteer teaching opportunities</p> </span>
          <span id="email-teach-input" class="span12 teach-input">
            <input id="teach-input" class="span11 teach-contact-info" type="email" placeholder="Enter Email Here" autofocus />
          </span>
      </div>
      <div id="teach-input-confirm-msg" class="span12">
      </div>
    </div>
  {{/if}}
</template>

<template name="letsLearn">
  {{#if toLearn}}
    <div id="volunteer-learn-row" class="row">
      <div id="volunteer-learn-div" class="volunteer-learn">
          <span id="learn-input-msg" class="span12 learn-input-title"> <p> Please enter your email to receive details regarding the curriculum and class schedule </p> </span>
          <span id="email-learn-input" class="span12 learn-input">
            <input id="learn-input" class="span11 learn-contact-info" type="email" placeholder="Enter Email Here" autofocus />
          </span>
      </div>
      <div id="learn-input-confirm-msg" class="span12 confirm-msg-holder">
      </div>
    </div>
  {{/if}}
</template>
