
<template name="codeSchool">
  {{#if goingToSchool}}
    <div id="myCarousel-codeschool" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
  <!--         <img src="http://i852.photobucket.com/albums/ab89/gigmania/missionbit_logo_horizontal.png" alt=""> -->
          <div class="container">
              <div id="news-alert" class="span12 pull-right">
                <span id="new-flash-span">
                  <h1> 15 SF public high school students will learn HTML5 and CSS3 </h1>
                    </br>
                </span>
              </div>
            <div id="first-caption-code-school" class="span5 carousel-caption primary code-school">
              <h1> Free Computer Programming Classes for SF Youth </h1>
              <span id="first-bullet" class="pull-left caption-bullet lead"> Open to youth living or schooling in SF, CA </span>
              </br>
              <span id="second-bullet" class="pull-left caption-bullet lead"> Available to SF youth ages 13-19 </span>
              </br>
              <span id="third-bullet" class="pull-left caption-bullet lead"> Daily after school lessons and instructor led projects </span>
              <span id="fourth-bullet" class="pull-left caption-bullet lead"> Instruction aligned with individual skills and ability </span>
            </div> <!-- FIRST CAPTION -->
            {{> actionButtons}}
          </div> <!-- CONTAINER -->
        </div> <!-- ITEM -->

        <div class="item">
          <div class="container">
            <div id="news-alert" class="span12 pull-right">
              <span id="new-flash-span">
                <h1> Students will earn 2.5 SF unified credits for course completion </h1>
                  </br>
              </span>
            </div>
            <div id="second-caption-codeschool" class="span5 carousel-caption primary code-school">
              <h1> Curriculum Philosophy </h1>
              <span id="first-bullet" class="pull-left caption-bullet lead"> <span class="philo-tenent"> Accessible </span> Easy entry for beginners and skilled hackers </span>
              </br>
              <span id="second-bullet" class="pull-left caption-bullet lead"> <span class="philo-tenent">Personal </span> Individual instruction tailor to skill and ability </span>
              </br>
              <span id="third-bullet" class="pull-left caption-bullet lead"> <span class="philo-tenent"> Employable </span> Instruction focused on employable skills </span>
              </br>
              <span id="fourth-bullet" class="pull-left caption-bullet lead"> <span class="philo-tenent">Fun</span> Focus on high reward skills and students interests </span>
            </div> <!-- SECOND CAPTION -->
            {{> actionButtons}}
          </div> <!-- CONTAINER -->
        </div> <!-- ITEM -->

<!--         <div class="item">
          <div class="container">
            <div id="news-alert" class="span12 pull-right">
              <span id="new-flash-span">
                <h1> Group projects will be presented at a district showcase in December 2013 </h1>
                  </br>
              </span>
            </div>
            <div id="third-caption-codeschool" class="span5 carousel-caption primary code-school">
              <h1> Class Time Details </h1>
              <span id="first-bullet" class="pull-right caption-bullet lead"> <span class="philo-tenent"></span> Daily lessons, lectures and guest speakers </span>
              </br>
              <span id="second-bullet" class="pull-right caption-bullet lead"> <span class="philo-tenent"></span> Instructor guided individual student project work </span>
              </br>
              <span id="third-bullet" class="pull-right caption-bullet lead"> <span class="philo-tenent"></span> 6:1 Student instructor ratio  </span>
              </br>
              <span id="fourth-bullet" class="pull-right caption-bullet lead"> <span class="philo-tenent"></span> No emailing, gaming or general web browsing </span>
            </div> --> <!-- THIRD CAPTION -->
            <!-- {{> actionButtons}} -->
          <!-- </div>  --><!-- CONTAINER -->
       <!--  </div>  --><!-- ITEM -->

        <div class="item">
          <div class="container">
            <div id="news-alert" class="span12 pull-right">
              <span id="new-flash-span">
                <h1> Internship and employment opportunities for exceptional students </h1>
                  </br>
              </span>
            </div>
            <div id="fourth-caption-codeschool" class="span5 carousel-caption primary code-school">
              <h1> Special Stuff </h1>
              <span id="first-bullet" class="pull-left caption-bullet lead"> <span class="philo-tenent"></span> Hackathon field trips { Parental approval required } </span>
              </br>
              <span id="second-bullet" class="pull-left caption-bullet lead"> <span class="philo-tenent"></span> Internship placement for qualified students </span>
              </br>
              <span id="third-bullet" class="pull-left caption-bullet lead"> <span class="philo-tenent"></span> Launch pad to national coding programs and bootcamps </span>
            </div> <!-- FOURTH CAPTION -->
            {{> actionButtons}}
          </div> <!-- CONTAINER -->
        </div> <!-- ITEM -->

      </div>
      <a class="left carousel-control" href="#myCarousel-codeschool" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel-codeschool" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
  {{/if}}
</template>