
<template name="codeSchool">
  {{#if goingToSchool}}
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
  <!--         <img src="http://i852.photobucket.com/albums/ab89/gigmania/missionbit_logo_horizontal.png" alt=""> -->
          <div class="container">
            <div id="first-caption-school" class="span5 carousel-caption primary">
              <h1> Free Computer Programming Classes for Mission Youth </h1>
              <span id="first-bullet" class="pull-right caption-bullet lead"> Open to youth living or schooling in the Mission SF, CA </span>
              </br>
              <span id="second-bullet" class="pull-right caption-bullet lead"> Available to Mission youth ages 13-19 </span>
              </br>
              <span id="third-bullet" class="pull-right caption-bullet lead"> Daily after school lessons and instructor led projects </span>
              <span id="fourth-bullet" class="pull-right caption-bullet lead"> Instruction aligned with individual skills and ability </span>
            </div> <!-- FIRST CAPTION -->

            <div id="action-caption" class="span4 sub-caption">
              <div id="donate-action-div" class="sub-caption-action">
                <span id="donate-action" class="span3 lead"> DONATE </span>
              </div>
              <div id="volunteer-action-div" class="sub-caption-action">
                <span id="volunteer-action" class="span3 lead"> TEACH </span>
              </div>
              <div id="learn-action-div" class="sub-caption-action">
                <span id="learn-action" class="span3 lead"> LEARN </span>
              </div>
            </div> <!-- DONATE CAPTION -->
          </div> <!-- CONTAINER -->
        </div>
        <div class="item">
          <div class="container">
            <div id="second-caption-codeschool" class="span5 carousel-caption primary">
              <h1> Curriculum Philosophy </h1>
              <span id="first-bullet" class="pull-right caption-bullet lead"> <span class="philo-tenent"> Accessible </span> Easy entry for beginners and skilled hackers </span>
              </br>
              <span id="second-bullet" class="pull-right caption-bullet lead"> <span class="philo-tenent">Personal </span> Individual instruction tailor to skill and ability </span>
              </br>
              <span id="third-bullet" class="pull-right caption-bullet lead"> <span class="philo-tenent"> Employable </span> Instruction focused on employable skills </span>
              </br>
              <span id="fourth-bullet" class="pull-right caption-bullet lead"> <span class="philo-tenent">Fun</span> Focus on high reward skills and students interests </span>
            </div> <!-- SECOND CAPTION -->

            <div id="action-caption" class="span4 sub-caption">
              <div id="donate-action-div" class="sub-caption-action">
                <span id="donate-action" class="span3 lead"> DONATE </span>
              </div>
              <div id="volunteer-action-div" class="sub-caption-action">
                <span id="volunteer-action" class="span3 lead"> TEACH </span>
              </div>
              <div id="learn-action-div" class="sub-caption-action">
                <span id="learn-action" class="span3 lead"> LEARN </span>
              </div>
            </div> <!-- ACTION CAPTION -->
          </div> <!-- CONTAINER -->
        </div> <!-- ITEM -->
        <div class="item">
          <div class="container">
            <div id="third-caption-codeschool" class="span5 carousel-caption primary">
              <h1> Class Time Details </h1>
              <span id="first-bullet" class="pull-right caption-bullet lead"> <span class="philo-tenent"></span> Daily lessons, lectures and guest speakers </span>
              </br>
              <span id="second-bullet" class="pull-right caption-bullet lead"> <span class="philo-tenent"></span> Instructor guided individual student project work </span>
              </br>
              <span id="third-bullet" class="pull-right caption-bullet lead"> <span class="philo-tenent"></span> 6:1 Student instructor ratio  </span>
              </br>
              <span id="fourth-bullet" class="pull-right caption-bullet lead"> <span class="philo-tenent"></span> No emailing, gaming or general web browsing </span>
            </div> <!-- SECOND CAPTION -->

            <div id="action-caption" class="span4 sub-caption">
              <div id="donate-action-div" class="sub-caption-action">
                <span id="donate-action" class="span3 lead"> DONATE </span>
              </div>
              <div id="volunteer-action-div" class="sub-caption-action">
                <span id="volunteer-action" class="span3 lead"> TEACH </span>
              </div>
              <div id="learn-action-div" class="sub-caption-action">
                <span id="learn-action" class="span3 lead"> LEARN </span>
              </div>
            </div> <!-- ACTION CAPTION -->
          </div> <!-- CONTAINER -->
        </div> <!-- ITEM -->
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
  {{/if}}
</template>