
<template name="letsDonate">
  {{#if toDonate}}

  {{#unless alreadyPledged}}
    <div id="pledge-marketing-row" class="row">
      <div id="pledge-marketing-div" class="span12 donate-marketing">
        <div id="pledge-marketing-text" class="marketing-text">
          <span class="pledge-marketing">
            <h3> Mission Bit is raising funds to hire an Executive Director </h3>
            <h3> 100% of funds raised are allocated to direct Mission Bit operating expenses. The board members volunteer their time. </h3>
            <h3> By making a pledge, you are not committing to donate money to Mission Bit. It is simply an indicator of your support.* </h3>
          </span>
        </div>
      </div>
    </div> <!-- ROW -->
  {{/unless}}

  {{#if alreadyPledged}}
    <div id="acknowledge-pledge-row" class="row">
      <div id="acknowledge-pledge-div" class="pledge-note">
        <span id="pledge-thanks" class="span3 pull-left pledge-notes"> <h1 class="pull-right pledge-text"> Thank You! </h1> </span>
        <span id="total-pledge-msg" class="span3 pull-left pledge-notes"> <h3 class="pull-right pledge-text"> You've pledged a total of </h3> </span>
        <span id="user-pledge-total" class="span2 pull-left pledge-notes"> <h1 class="pledge-text"> ${{userPledgeTotal}} </h1></span>
        <span id="pledge-number" class="span3 pull-left pledge-notes"> <h3 class="pull-left pledge-text"> with <span id="user-pledge-count" class="pledge-text"> {{pledgeNumber}} </span> pledges </h3> </span>
      </div>
    </donateiv> <!-- ROW -->
  {{/if}}

<!--   <div id="lets-donate-row" class="row">
    <div id="lets-donate-div" class="donate">
      <div id="donate-pledge-call" class="donate-pledge">
        <span class="span3 pull-left pledge-call">
          <h1> Make a pledge </h1>
        </span>
      </div>
    </div>
  </div> --> <!-- ROW -->

  <div id="pledge-details-row" class="row">
    <div id="pledge-details-div" class="details-div">
      <span class="span7 pull-left pledge-totals">
        <h1 id="pledge-grand-total-amount" class="pull-right pledge-total"> ${{totalPledges}} </h1>
      </span>
      <span class="span5 pull-right pledge-totals">
        <h3 id="pledge-grand-total-title" class="pull-left pledge-total-title"> Total Pledges </h3>
      </span>
    </div>
  </div> <!-- ROW -->

  {{#if pledgeReady}}
    <div id="pledge-amount-row" class="row">
      <div id="donate-pledge-input-div" class="pledge-input-div">
        <form id="pledge-form">
          <span id="donate-pledge-25" class="span2 pledge-input">
            <span class="pledge-amount-text"> $25 </span> <input id="pledge-input-25" name="pledge"class="pledge-amount-input" type="radio" value="25">
          </span>

          <span id="donate-pledge-50" class="span2 pledge-input">
            <span class="pledge-amount-text"> $50 </span> <input id="pledge-input-50" name="pledge" class="pledge-amount-input" type="radio" value="50">
          </span>

          <span id="donate-pledge-100" class="span2 pledge-input">
            <span class="pledge-amount-text"> $100 </span> <input id="pledge-input-100" name="pledge" class="pledge-amount-input" type="radio" value="100">
          </span>

          <span id="donate-pledge-250" class="span2 pledge-input">
            <span class="pledge-amount-text"> $250 </span> <input id="pledge-input-250" name="pledge" class="pledge-amount-input" type="radio" value="250">
          </span>

          <span id="donate-pledge-500" class="span2 pledge-input">
            <span class="pledge-amount-text"> $500 </span> <input id="pledge-input-500" name="pledge" class="pledge-amount-input" type="radio" value="500">
          </span>

          <span id="donate-pledge-1000" class="span2 pledge-input">
            <span class="pledge-amount-text"> $1000 </span> <input id="pledge-input-1000" name="pledge" class="pledge-amount-input" type="radio" value="1000">
          </span>
        </form>
      </div>
    </div> <!-- ROW -->
  {{/if}}

  <div id="pledge-submit-row" class="row">
    <div id="pledge-submit-div" class="submit-div">
      <span class="span12 pledge-submit">
        <input id="donate-pledge-submit" class="pledge-submit-button" type="submit" value="Make Pledge">
      </span>
    </div>
  </div> <!-- ROW -->

  <div id="footnotes-row" class="row">
    <div id="footnotes-div" class="span12 footnotes">
        <span id="footnotes-text" class="pull-left footnotes-text">
          <p> * A Mission Bit board member or other representative will contact you to discuss a formal donation </p>
        </span>
    </div>
  </div> <!-- ROW -->

  {{/if}}
</template>
