
<template name="showSupport">
  {{#if shownSupport}}
    <div id="support-container" class="container">
      <div id="support-row" class="row">
        <div id="support-action-buttons">
          <div id="donate-action-support" class="sub-caption-action">
            <span id="donate-action" class="span3 lead"> DONATE </span>
          </div>
          <div id="volunteer-action-support" class="sub-caption-action">
            <span id="volunteer-action" class="span3 lead"> TEACH </span>
          </div>
          <div id="learn-action-support" class="sub-caption-action">
            <span id="learn-action" class="span3 lead"> LEARN </span>
          </div>
        </div>
        <div id="support-div" class="span12">
          <div id="support-welcome-msg" class="">
            <span class="">
              <h2> Mission Bit appreciates the generous support of its sponsors.
              </h2>
            </span>
          </div>
        </div> <!-- SUPPORT DIV -->
      </div> <!-- SUPPORT ROW -->
    </div> <!-- SUPPORT CONTAINER -->
    <div id="sponsor-logo-container" class="container marketing">
      <div class="row">
        <div id="sponsor-title-div" class="span12 supporter-title">
          <h2 class="sponsor-title"> Sponsors </h2>
        </div>
      </div> <!-- /.row -->
      <div id="sponsor-logo-row" class="row">
        <div id="dena-logo-div" class="span4 sponsor-logo">
          <img id="dena-logo" class="img-rect" data-src="holder.js/140x140" src="http://dena.com/images/common/logo.png?v=130110">
        </div><!-- /.span3 -->
        <div class="span4 sponsor-logo">
          <img id="evb-logo" class="img-rect" data-src="holder.js/140x140" src="http://i852.photobucket.com/albums/ab89/gigmania/evb_logo.png">
        </div><!-- /.span3 -->
      </div><!-- /.row -->
      <div id="sponsor-name-row" class="row">
        <div class="span4 sponsor-name">
          <h2 class="sponsor-name-text">DeNA West</h2>
        </div><!-- /.span3 -->
        <div class="span4 sponsor-name">
          <h2 class="sponsor-name-text">Evolution Bureau</h2>
        </div><!-- /.span3 -->
      </div><!-- /.row -->
    </div>
  {{/if}}
</template>