

<template name="showValues">
  {{#if makeMeCare}}
    <div id="values-container" class="container">

      <div id="values-row" class="row">
        <div id="values" class="span12">
          <div id="first-caption-values" class="value-caption">
            <h1> Learn to Learn </h1>
          </div>
          <div id="sixth-caption-values" class="value-caption">
            <h1> Be Accountable </h1>
          </div>
          <div id="second-caption-values" class="value-caption">
            <h1> The Only Failure is Not Trying </h1>
          </div>
          <div id="third-caption-values" class="value-caption">
            <h1> Understand Yourself, Listen to Others </h1>
          </div>
          <div id="fourth-caption-values" class="value-caption">
            <h1> Embrace and Conquer Fear </h1>
          </div>
          <div id="fifth-caption-values" class="value-caption">
            <h1> You are Not Alone. We Stand Together on This Journey </h1>
          </div>
        </div> <!-- VALUES -->
      </div> <!-- ROW -->
  {{/if}}
</template>